 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* sezione header */
header{
  margin: auto;
}
body{
  /* background-color: #F5F8FA; */
}
/* prima sezione header (lingua+login)*/
.header-signin{
  background-color: #F4F9FD;
  font-size: 16px;
  padding:30px 15%;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #32495B;
}

.header-signin div{
  display: inline-block;
}

.header-signin-left{
  float:left;
  /* word-spacing: 10px; */
}

.header-signin-right{
  float:right;
  margin-top: -10px;
}

.fa-globe-europe{
  margin-right:10px;
}
#english{
  padding-right: 20px;
  border-right: 2px solid black;
}
.fa-chevron-down{
  margin: 0 10px;
}

#contact{
  margin-left: 20px;
}

 .header-signin::after{
  content: "";
  display: table;
  clear: both;
}

.fa-search{
  color:#3CB9CD;
}

.header-signin-right button{
  margin-left: 20px;
}
button{
  background-color:#FE775A;
  border: 1px solid #FBB8AB;
  padding: 10px;
  color:#fff;
  border-radius: 5px;
}

.login{
  background-color: #fff;
  color:#FE775A;
}
/* seconda sezione header (logo+info) */
.header-nav{
  padding: 0 15%;
  line-height: 80px;
  background-color: #fff;
}

.header-nav img{
  float: left;
  margin: 20px 0;
}

.navbar li{
  font-size: 14px;
  list-style: none;
  display: inline-block;
  float: right;
  font-family: 'Roboto', sans-serif;
  padding: 0 5px;
  color:#466389;
}

li:first-child .fa-chevron-down{
  margin-right: 0;
}
/* sezione header principale con background */
.gradiente{
  display: inline-block;
  background: linear-gradient(to right, #fef7ef,#fff1ee);
  /* background: rgb(254,247,240);
  background: linear-gradient(90deg, rgba(254,247,240,1) 41%, rgba(255,241,238,1) 47%); */
  /* background-image: radial-gradient(#fff1ee,#fef7ef); */
  background-size: 100% 695px;
  background-repeat: no-repeat;
  height: 695px;
  width: 100%;
  position: relative;
}

.header-background{
  display: inline-block;
  padding: 0 15%;
  background-image: url(../img/jumbotron.png);
  background-size: 1492px;
  height: 695px;
  background-position: 100% right  ;
  background-repeat: no-repeat;
  background-origin:content-box;
  position: relative;
  border-bottom: 4px solid #33475B;

  /* height: 450px;
  background-color: #fef7ef;
  border-bottom: 2px solid #33475B;
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: 90% 48%; */
}

.banner{
  float: left;
  max-width: 40%;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;

}

.banner h1{
  margin-top:30px;
  margin-bottom: 20px;
  font-size: 60px;
  color:#33475B;

}

.banner p{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  color:#344D64;
  margin-bottom:20px;
}

.banner p:last-child{
  font-size: 20px;
}

.banner button{
  margin-bottom: 20px;
  padding: 20px 30px;;
}

#banner-bottom-left{
  height: 52px;
  background-color: #AFEBE4;
  /* background: linear-gradient(to right, #AFEBE4,#00A48D); */
  border-top: 3px solid #33475B;
  /* border-bottom: 2px solid #33475B; */
  position: absolute;
  top:calc(100% - 52px);
  left:0;
  width: 15vw;
}

#banner-bottom-right{
  height: 122px;
  background-color: #00A48D;
  /* background: linear-gradient(to right, #AFEBE4,#00A48D); */
  border-top: 3px solid #33475B;
  /* border-bottom: 2px solid #33475B; */
  position: absolute;
  top:calc(100% - 122px);
  right:-15%;
  width: calc(100vw - 1450px);
}
.dioporco{
  background: linear-gradient(to right, #AFEBE4,#00A48D);
  position: absolute;
  bottom:0;
  background-size: 100px 100px;
  display: inline-block;
}
